.evento-fotos {
    padding: 60px 8%;
    background: #ffffff;
    border-radius: 22px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
    margin: 80px auto;
    max-width: 1200px;
    transition: transform .3s ease;
}

.evento-fotos:hover {
    transform: translateY(-4px);
}

.evento-seccion {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: #333;
}

.contenido-evento {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 40px;
    align-items: center;
}


.evento-imagenes {
    order: 1;
}

.info {
    order: 2;
}

.info h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
}

.info p {
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
}

.btn-azul {
    display: inline-block;
    padding: 12px 28px;
    background: #32a3ff;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1rem;
    transition: background .3s ease;
    margin-top: 10px;
}

.btn-azul:hover {
    background: #1c8be0;
}

.evento-imagenes {
    display: grid;
    grid-template-columns: 1fr;
}

.evento-imagenes img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 12px #0002;
    transition: transform 0.3s ease;
}

.evento-imagenes img:hover {
    transform: scale(1.05);
}


@media (max-width: 900px) {
    .contenido-evento {
        grid-template-columns: 1fr;
    }

   
    .info {
        order: 1;
    }

    .evento-imagenes {
        order: 2;
    }
}