/* Fuente general */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
}

/* Barra */
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8e57b;
    padding: 15px 30px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}


/* Logo */
.logo {
    font-size: 26px;
    font-weight: 700;
    color: #2e7d22;
}


/* Lista del menú */
.menu {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: 500;
    transition: .3s ease;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
}

.menu li a:hover {
    color: #86b300;
    border-color: #86b300;
}

/* ------------------------------
   MENÚ HAMBURGUESA
------------------------------ */

/* Ícono hamburguesa */
.icono-menu {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.icono-menu span {
    width: 28px;
    height: 3px;
    background: #333;
    border-radius: 3px;
    transition: .3s;
}

/* ------------------------------
   RESPONSIVE
------------------------------ */
@media (max-width: 768px) {

    .icono-menu {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 70px;
        right: 0;
        background: white;
        width: 180px;
        flex-direction: column;
        text-align: right;
        padding: 15px 20px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        border-radius: 6px;
        display: none;
    }

    .menu.mostrar {
        display: flex;
    }
}

.carrusel {
            height:60vh;
            width:100vw;
            min-width:0;
            position: relative;
            overflow: hidden;
        }
        .carrusel-track {
            position: relative;
            display: flex;
            transition: transform 0.7s ease-in-out;
        }
        .carrusel-item {
            flex-shrink: 0;
            flex-grow: 0;
            position: relative;
            width:100vw;
            height:60vh;
            overflow: hidden;
        }
        .carrusel-item img {
            width:100%;
            height: 100%;
            object-fit: cover;
        }
        .carrusel-item div {
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            padding:5rem;
            border-radius: 17px;
            box-shadow: 3px 3px #000;
            background-color: #ffffffaa;
}

.carrusel_right, .carrusel_left {
display:flex;
justify-content: center;
align-items: center;
padding:3rem 1rem;
font-weight: bold;
background-color: #ffffffaa;
position: absolute;
z-index: 1000;
font-size:2rem;
box-shadow: 0px 0px 3px #000;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
}

.carrusel_right {
border-top-left-radius: 27px;
border-bottom-left-radius: 27px;
right:0px;
}

.carrusel_left {
border-top-right-radius: 27px;
border-bottom-right-radius: 27px;
left:0px;
}
