/* Fuente general */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
}

/* Barra */
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 15px 30px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}


/* Logo */
.logo {
    font-size: 26px;
    font-weight: 700;
    color: #86b300;
}


/* Lista del menú */
.menu {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: 500;
    transition: .3s ease;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
}

.menu li a:hover {
    color: #86b300;
    border-color: #86b300;
}

/* ------------------------------
   MENÚ HAMBURGUESA
------------------------------ */

/* Ícono hamburguesa */
.icono-menu {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.icono-menu span {
    width: 28px;
    height: 3px;
    background: #333;
    border-radius: 3px;
    transition: .3s;
}

/* ------------------------------
   RESPONSIVE
------------------------------ */
@media (max-width: 768px) {

    .icono-menu {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 70px;
        right: 0;
        background: white;
        width: 180px;
        flex-direction: column;
        text-align: right;
        padding: 15px 20px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        border-radius: 6px;
        display: none;
    }

    .menu.mostrar {
        display: flex;
    }
}
