.trabaje {
    padding: 70px 8%;
    background: #eef2ff;
    text-align: center;
}

.trabaje-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 50px;
}

.card-trabaje {
    background: white;
    padding: 40px 25px;
    border-radius: 20px;
    box-shadow: 0 5px 25px #0001;
    transition: .3s;
}

.card-trabaje:hover {
    transform: translateY(-5px);
    box-shadow: 0 7px 30px #0002;
}

.img-wrap {
    width: 140px;
    height: 140px;
    margin: auto;
    border-radius: 50%;
    padding: 8px;
    background: linear-gradient(145deg, #Fda61b, #Fda61b);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrap img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card-trabaje h3 {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: bold;
}

.card-trabaje p {
    margin: 10px 0 20px;
    color: #666;
    line-height: 1.6;
}

.card-trabaje a {
    text-decoration: none;
    color: #4db4ff;
    font-weight: 600;
    transition: .3s;
}

.card-trabaje a:hover {
    color: #1b88d6;
}


@media (max-width: 900px) {
    .trabaje-grid {
        grid-template-columns: 1fr;
    }
}
